<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="pshs, pshs-mc, pshs-mc sparc 2028, pshs-mc batch 2028, schiel battung, kaiser chan" />
    <meta name="description" content="The website for SPARC 2028. [student-led organization under the PSHS-MC, Philippines]" />
    <meta name="author" content="Chan, KTC and Battung, SLMB" />
    <meta name="revised" content="11-15-2024" />
    <title>SPARC Member Portal</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/53819453-3d57-487f-b6e1-86bfc5d1d91f/favicon.ico?v=1734621443858">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <div id="navbar">
  </div>
  <body>
    <div class="container-lg p-3">
      <h1>Edit mock test: {{title}}</h1>
      <section>
        <button onclick="addQuestion();" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
</svg> Add Question</button>
<button class="btn btn-danger" style="float:right;" onclick="deleteQuestion();"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg> Delete Question</button>
        <form id="revContrib" method="POST" action="/portal/mt/add/submit">
          <!--<label for="author">Author:</label> <input type="text" id="author"><br>
          <label for="author">Verifier:</label> <input type="text" id="verifier"><br>
          <label for="releaseDate">Date:</label> <input type="date" id="releaseDate"><br>
          <label for="content">Reviewer Content (HTML, content of body only):</label> <textarea type="content" style="height:500px;"></textarea>
          <input type="submit">-->
          <div class="row">
            <div class="col-md-1"><b>Author/s</b></div>
            <div class="col-md-2"><input type="text" id="author" name="author" value="{{author}}"></div>
            <div class="col-md-1"><b>Verifier/s</b></div>
            <div class="col-md-2"><input type="text" id="verifier" name="verifier" value="{{verifier}}"></div>
            <div class="col-md-1"><b>Date</b></div>
            <div class="col-md-2"><input type="date" id="date" name="date" value="{{date}}"></div>
            <div class="col-md-1"><b>Course</b></div>
            <div class="col-md-2"><select name="course" selected="{{course}}">
              <option value="Meta">Meta</option>
            </select></div>
          </div>
          <div class="row">
            <div class="row" style="display:none;">
                <div class="col-md-1"><b>Original Title</b></div>
                <div class="col-md-11"><input type="text" id="ogTitle" name="ogTitle" value="{{title}}"></div>
            </div>
            <div class="col-md-1"><b>Title</b></div>
            <div class="col-md-7"><input type="text" id="title" name="title" value="{{title}}"></div>
            <div class="col-md-2"><b>Time Limit</b> (minutes)</div>
            <div class="col-md-2"><input type="number" id="timeLimit" name="timeLimit" value="{{timeLimit}}"></div>
          </div>
          <div class="row">
            <div class="col-md-1"><b>Description</b></div>
            <div class="col-md-11"><input type="text" id="description" name="description" value="{{description}}"></div>
          </div>
          <div class="row">
            <div class="col-md-1"><b>Additional Instructions</b></div>
            <div class="col-md-11">(optional; each instruction must be on a new line)<textarea id="instructions" name="instructions">{{additionalInstructions}}</textarea></div>
          </div>
          <div id="questionsForm">
            {{#each questions}}
    <div class="callout">
    <div class="row">
      <div class="col-md-12"><span class="mtHeading">Details for Question <span class="sbHuge" id="counter{{this.index}}">{{this.index}}</span></span></div>
    </div>
    <div class="row">
      <div class="col-md-1"><b>Statement</b></div>
      <div class="col-md-11"><textarea type="text" id="statement{{this.index}}" name="statement{{this.index}}">{{this.statement}}</textarea></div>
    </div>
    <div class="row">
      <div class="col-md-1"><b>Answer</b></div>
      <div class="col-md-8"><textarea id="answer{{this.index}}" name="answer{{this.index}}">{{this.answer}}</textarea></div>
      <div class="col-md-1"><b>Points</b></div>
      <div class="col-md-2"><input type="number" id="points{{this.index}}" name="points{{this.index}}" value="{{this.points}}"></div>
    </div>
    <div class="row">
      <div class="col-md-1"><b>Explanation</b></div>
      <div class="col-md-11"><textarea id="explanation{{this.index}}" name="explanation{{this.index}}">{{this.explanation}}</textarea></div>
    </div>
    </div>
            {{/each}}
          </div>
          <input type="submit">
        </form>
      </section>
    </div>
  </body>
  <footer id="footer" class="container-fluid">
    <b>References</b>
    <ul>
      <li><i>OpenAI</i>. (2023). <i>ChatGPT</i> (GPT-4-turbo) [Large language model]. <a href="https://chat.openai.com">https://chat.openai.com</a></li>
    </ul>
  </footer>
  <script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };

  questionCount = {{noQuestions}};

  function addQuestion() {
    questionCount += 1
    const question = document.createElement("div");
    question.setAttribute("id", `question${questionCount}`);
    question.setAttribute("class", `callout`);
    question.innerHTML =
    `<div class="row">
      <div class="col-md-12"><span class="mtHeading">Details for Question <span class="sbHuge" id="counter${questionCount}">${questionCount}</span></span></div>
    </div>
    <div class="row">
      <div class="col-md-1"><b>Statement</b></div>
      <div class="col-md-11"><textarea type="text" id="statement${questionCount}" name="statement${questionCount}"></textarea></div>
    </div>
    <div class="row">
      <div class="col-md-1"><b>Answer</b></div>
      <div class="col-md-8"><textarea id="answer${questionCount}" name="answer${questionCount}"></textarea></div>
      <div class="col-md-1"><b>Points</b></div>
      <div class="col-md-2"><input type="number" id="points${questionCount}" name="points${questionCount}"></div>
    </div>
    <div class="row">
      <div class="col-md-1"><b>Explanation</b></div>
      <div class="col-md-11"><textarea id="explanation${questionCount}" name="explanation${questionCount}"></textarea></div>
    </div>`
    document.getElementById("questionsForm").appendChild(question);
  }

  function deleteQuestion() {
    let qNo = Number(prompt("Enter the number of the question you want to delete (e.g. 1):"));
    console.log(document.getElementById(`question${qNo}`))
    document.getElementById(`question${qNo}`).remove();
    questionCount -= 1;
    for (let i = 1; i <= questionCount; i++) {
      if (i >= qNo) {
        document.getElementById(`counter${i+1}`).innerHTML = i;
        document.getElementById(`question${i+1}`).setAttribute("id", `question${i}`);
        document.getElementById(`counter${i+1}`).setAttribute("id", `counter${i}`);
        document.getElementById(`statement${i+1}`).setAttribute("id", `statement${i}`);
        document.getElementById(`answer${i+1}`).setAttribute("id", `answer${i}`);
        document.getElementById(`points${i+1}`).setAttribute("id", `points${i}`);
        document.getElementById(`explanation${i+1}`).setAttribute("id", `explanation${i}`);
      }
    }
  }
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  <script src="/assets/js/script.js"></script>
  <style>
    div.row {
      margin-top:10px;
    }
    input[type="text"], textarea, select {
      width:100%;
    }
  </style>
</html>
